
# ====General======================================================================================

# ....Jetbrains....................................................................................
/.idea/
/.vagrant/*

# ....AI...........................................................................................
/.junie/scratch.md
/.junie/iceboxed_plans

# ....Python related...............................................................................
**/.pytest_cache
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
**/*.out
**/*.log

# ....General......................................................................................
**/.DS_Store
